// Cores
    $background: #000000;
    $card-color: #222222;
    $hover-color: #FAFF00;
    $text-color: #FFFFFF;
// Font
    $f-family: 'Zen Dots', sans-serif;

    $text-size: 0.875rem; /*14px*/
    $h1-size: 1.25rem; /*20px*/
    $h2-size: 1.75rem; /*28px*/
    $h3-size: 1.125rem; /*18px*/

    $f-text: 400 $text-size $f-family;
    $f-heading-md: 400 $h2-size $f-family;
    $f-heading-sm: 400 $h3-size $f-family;